@font-face {
	font-family: "iconfont";
	/* Project id 2931974 */
	src: url('@/common/iconfont2/iconfont.ttf') format('truetype');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
}

.icon-youhuiquan:before {
	content: "\e669";
}

.icon-wenhaofill:before {
	content: "\e72c";
}

.icon-wenhao:before {
	content: "\e72d";
}

.icon-wodeyouhuiquan:before {
	content: "\e65a";
}

.icon-yingyongAPP_o:before {
	content: "\eb88";
}

.icon-yingyong:before {
	content: "\e642";
}

.icon-youhuiquan1:before {
	content: "\e8c0";
}

.icon-yingyong1:before {
	content: "\e616";
}

.icon-quanbudingdan:before {
	content: "\e614";
}

.icon-shoucang:before {
	content: "\e666";
}

.icon-dingdanjihe:before {
	content: "\e897";
}

.icon-xiaoxi:before {
	content: "\e630";
}

.icon-xiugaidingdan:before {
	content: "\e8f2";
}

.icon-shoucang1:before {
	content: "\eb26";
}

.icon-xiaoxi1:before {
	content: "\ec3b";
}

.icon-diannao:before {
	content: "\e71a";
}

.icon-message:before {
	content: "\e615";
}

.icon-shoucang2:before {
	content: "\e8b9";
}

.icon-xiaoxi2:before {
	content: "\e8bd";
}

.icon-shoucang3:before {
	content: "\e8c6";
}

.icon-diannao1:before {
	content: "\e62c";
}

.icon-baoyou4:before {
	content: "\e697";
}

.icon-man88baoyou:before {
	content: "\e607";
}

.icon-zheng:before {
	content: "\e626";
}

.icon-shouhoubaoyou:before {
	content: "\e627";
}

.icon-baozhen:before {
	content: "\e609";
}

.icon-shalou:before {
	content: "\e632";
}

.icon-7:before {
	content: "\e67d";
}

.icon-7tianbaotui:before {
	content: "\e6cc";
}

.icon-rili:before {
	content: "\e60a";
}

.icon-tuikuan:before {
	content: "\e8b2";
}

.icon-manjianbaoyou:before {
	content: "\e620";
}

.icon-shalou1:before {
	content: "\e60b";
}

.icon-shunfengbaoyou:before {
	content: "\e60f";
}

.icon-baoyou:before {
	content: "\e60c";
}

.icon-weibiaoti--:before {
	content: "\e628";
}

.icon-quanguobaoyou:before {
	content: "\e610";
}

.icon-chuanzhen:before {
	content: "\e60d";
}

.icon-baoyou1:before {
	content: "\e60e";
}

.icon-baoyou2:before {
	content: "\e611";
}

.icon-zhenshikexin:before {
	content: "\e99b";
}

.icon-zhenshikexin1:before {
	content: "\e6d5";
}

.icon-wangluo:before {
	content: "\e613";
}

.icon-bianji4:before {
	content: "\e61a";
}

.icon-a-ziyuan66:before {
	content: "\e61c";
}

.icon-bofang1:before {
	content: "\e63a";
}

.icon-diyinliang:before {
	content: "\e63b";
}

.icon-tiaozheng:before {
	content: "\e63c";
}

.icon-jingyin:before {
	content: "\e63d";
}

.icon-jiasu:before {
	content: "\e63e";
}

.icon-suiji:before {
	content: "\e63f";
}

.icon-xiayiqu:before {
	content: "\e640";
}

.icon-zanting:before {
	content: "\e641";
}

.icon-dingwei:before {
	content: "\e61f";
}

.icon-shezhi5:before {
	content: "\e621";
}

.icon-zhanghao:before {
	content: "\e622";
}

.icon-sousuo:before {
	content: "\e623";
}

.icon-saoyisao:before {
	content: "\e624";
}

.icon-zhuxiao:before {
	content: "\e625";
}

.icon-gongxiang:before {
	content: "\e648";
}

.icon-wenjianjia:before {
	content: "\e649";
}

.icon-erweima:before {
	content: "\e64c";
}

.icon-quanping:before {
	content: "\e64d";
}

.icon-xianshi:before {
	content: "\e64f";
}

.icon-yingcang:before {
	content: "\e651";
}

.icon-yunxiazai:before {
	content: "\e606";
}

.icon-xiazai:before {
	content: "\e668";
}

.icon-qqdenglu:before {
	content: "\e64e";
}

.icon-denglu:before {
	content: "\e67c";
}

.icon-denglu-weixindenglu:before {
	content: "\e62f";
}

.icon-tuichudenglu:before {
	content: "\e650";
}

.icon-app:before {
	content: "\e643";
}

.icon-lishijilu:before {
	content: "\e602";
}

.icon-apple:before {
	content: "\e87e";
}

.icon-jiludanzilishijilu:before {
	content: "\e61b";
}

.icon-APPtuisong:before {
	content: "\e629";
}

.icon-ziyuanxhdpi:before {
	content: "\e62b";
}

.icon-lishijilu1:before {
	content: "\e605";
}

.icon-lishijilu2:before {
	content: "\e612";
}

.icon-dianzan-:before {
	content: "\e608";
}

.icon-app1:before {
	content: "\e603";
}

.icon-bianji:before {
	content: "\e600";
}

.icon-shezhi:before {
	content: "\e62a";
}

.icon-shezhi1:before {
	content: "\e601";
}

.icon-shezhi2:before {
	content: "\e64b";
}

.icon-bianji1:before {
	content: "\e6b0";
}

.icon-shezhi3:before {
	content: "\e70f";
}

.icon-shanchu:before {
	content: "\ec7b";
}

.icon-bianji2:before {
	content: "\e604";
}

.icon-bianji3:before {
	content: "\e8ac";
}

.icon-shanchu1:before {
	content: "\e8b6";
}

.icon-shezhi4:before {
	content: "\e8b7";
}
